html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Шрифты взятые с google-webfonts-helper */
/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local(''),
    url('../fonts/lato-v23-latin-300.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v23-latin-300.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/lato-v23-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v23-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/lato-v23-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v23-latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local(''),
    url('../fonts/lato-v23-latin-900.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v23-latin-900.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* racing-sans-one-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Racing Sans One';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/racing-sans-one-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/racing-sans-one-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/racing-sans-one-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/racing-sans-one-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/racing-sans-one-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/racing-sans-one-v13-latin-regular.svg#RacingSansOne') format('svg'); /* Legacy iOS */
}


html {
  background: no-repeat radial-gradient(#464646 0%, #101010 77%, #101010 100%);
}


/* Шрифты взятые с google-webfonts-helper */
body {
  /* Указываем какой шрифт будет применяться */
  font-family: 'Lato';
  /* Стиль шрифта */
  font-style: normal;
  /* Размер шрифта */
  font-size: 18px;
  /* Задаёт высоту линии текста межстрочный интервал)*/
  line-height: 1.5;
  /* Отменяет жирный текст (bold	Делает жирный текст) */
  font-weight: 400;
  /* Цвет шрифта */
  color: white;
  /* расстояние между словами */
  word-spacing: 0.2rem;
  /* Устанавливает высоту элемента */
  /* height: 100vh; */
  /* Устанавливает ширину элемента */
  /* width: 100%; */
}

.container {
  /* расстояние слева и справа */
  margin: 0px 30px;
}

.header-logo {
  font-weight: 700;
  color: white;
  text-align: center;
  font-size: 36px;
  font-family: 'Racing Sans One';
}

.header-logo>br {
  display: none;
}

.header-logo>span {
  border-bottom: white 1px solid;
  line-height: 8px;
  font-size: 18px;
}

.header-line {
  padding-top: 50px;
  /* расположить элементы в линию */
  display: flex;
  /* выровнять все элементы по линии главного элемента */
  align-items: center;
  /* равное пространство между блоками */
  justify-content: space-between;
}


.nav-item,
.num,
.phone-text {
  font-weight: 700;

}

.nav-item {
  color: rgb(209, 209, 209);
  margin-right: 50px;
  /* добавление плавности при наведении */
  transition: color 0.3s linear;
}

/* при наведении меняет цвет */
.nav-item:hover {
  color: white;
}

.phone {
  /* полоска слева от телефона */
  border-left: 1px solid white;
  padding-left: 10px;
  /* высота для полоски. Если это картинка и она съехала, то исправить можно 
  https://youtu.be/poZf7nGcPIk?t=753 */
  height: 50px;
}

.num {
  color: white;
}


.phone-text {
  text-align: center;
}


.burger-menu {
  display: none;
}

.burger-menu img {
  height: 36px;
  color: white;
}

.burger-button>button {
  margin: 0;
  padding: 0;
}

.block {
  /* для того, чтобы при нажатии на кнопку - меню распологалось сверху вниз */
  display: block;
}

.burger-slide {
  /* для того, чтобы кнопка была по середине относительно лого */
  /* position: absolute; */
  /* для того, чтобы навигация не отображалась */
  display: none;
  background: no-repeat radial-gradient(#464646 0%, #101010 77%, #101010 100%);
  backdrop-filter: blur(8px);
  width: 100vw;
  height: 43vh;
  transition: all  0.3s linear;
}

.slide-item {
  color: rgb(209, 209, 209);
  font-weight: 700;
}


.header-title {
  font-size: 48px;
  padding-top: 50px;
  text-align: center;
}




.header-content-img {
  padding-top: 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


.header-content-img img {
  height: 100%;
  width: 100%;
  border: solid 5px;
  max-height: 500px;
  max-width: 500px;
}

.header-left-before {
  /* выравнивание img по центру в div */
  margin-left: auto;
  margin-right: auto;

}

.header-right-after {
  /* выравнивание img по центру в div */
  margin-left: auto;
  margin-right: auto;
}

.price {
  padding-top: 25px;
}

.price-table table,
td {
  border: 1px solid rgb(255, 255, 255);
  padding: 12px 12px;
}


.price-table {
  width: 100%;
}



.price-in-table {
  text-align: right;
}

h2,
caption {
  font-size: 24px;
  padding: 10px;
  font-weight: 700;
  border: groove #eeeeee 1px;
  margin-top: 25px;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: left;
}

/* для того, чтобы видеть границы блока */
.examples {
  box-shadow: 10px 10px 40px 20px #00000056;
  margin-top: 25px;
}

.examples-holder {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


.example {
  border: groove 1px white;

}

.exmpl1 {
  grid-column: 1/2;
  /* margin: 0px 2px;
  margin-top: 10px; */
  max-height: 400px;
  max-width: 400px;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.exmpl2 {
  grid-column: 2/3;
  /* margin: 0px 2px;
  margin-top: 10px; */
    max-height: 400px;
  max-width: 400px;
  height: 100%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.exmpl3 {
  grid-column: 3/4;
  /* margin: 0px 2px;
  margin-top: 10px; */
    max-height: 400px;
  max-width: 400px;
  height: 100%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* .exmpl4 {
  grid-column: 4/5;
  margin: 0px 2px;
  margin-top: 10px;
}

.exmpl5 {
  grid-column: 5/6;
  margin: 0px 2px;
  margin-top: 10px;
} */

.example-image {
  cursor: pointer;
  max-height: 400px;
  max-width: 400px;
  height: 100%;
  width: 100%;
}

.example-image img {
  max-height: 400px;
  max-width: 400px;
  height: 100%;
  width: 100%;
}

/* увеличить изображение при наведении */
.example-image>img:hover {
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale (1.4);
  border: solid 2px;

}

/* .example-content {
  padding: 0px 12px;
  text-align: center;
  text-align: justify;

} */

/* выровнять заголовок по центру */
/* .example-title {
  text-align: center;
  margin-bottom: 12px;
} */

h4 {
  font-size: 24px;
  font-weight: 700;
}




.footer {
  margin: 30px 0px;
  padding: 30px 0px;
  border-top: 1px groove #eeeeee;
  display: grid;
  grid-template-columns: 35% 65%;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;

}

/* нижнее подчёкивание */
.location {
  text-decoration: underline 2px;
}

.contacts a,
p {
  color: white;
  font-size: 18px;
  grid-column: 1/2;
}

.working,
.working-info {
  margin: 24px 0px;
}

.working-info-minisize{
  display: none;
}

.messenger {
  margin-top: 16px;
  display: flex;
}

.whatsapp img {
  width: 50px;
}
.viber img {
  width: 50px
}

.viber {
  margin-left: 16px;
}

.maps {
  grid-column: 2/3;
}

.maps-blc {
  height: 100%;
  width: 100%;
}

.footer-down {
  
}

.development {
    color: white;
}





/* Работаю над адаптивностью */
@media (max-width: 414px) {
  .burger-slide {
    height: 36vh;
  }
}

@media (max-width: 372px) {
 .burger-slide {
  height: 69vh;
 }
}




@media (max-width: 900px) {

  /* блоки в два столбца */
  .examples-holder {
    grid-template-columns: repeat(2, 50%);

  }

  /* блоки в первый столбец */
  .exmpl1,
  .exmpl3
  /* .exmpl5  */
  {
    grid-column: 1/2;
  }

  /* блоки во второй столбец */
  .exmpl2
  /* .exmpl4  */
  {
    grid-column: 2/3;

  }
}

@media (max-width: 500px) {

  /* задать одну колонку */
  .examples-holder {
    grid-template-columns: repeat(1, 100%);

  }

  /* блоки в одну колонку */
  .exmpl1,
  .exmpl2,
  .exmpl3
  /* .exmpl4, */
  /* .exmpl5 */
   {
    grid-column: 1/2;
  }
}

@media (max-width: 850px) {

  /* убрать отображение google-maps */
  .maps {
    display: none;
  }
}

@media (max-width: 717px) {

  /* уменьшить текст для корректного отображения */
  .header-title {
    font-size: 36px;
    text-align: left;
  }
}

@media (max-width: 1300px) {
  .header-content-img {
    padding-top: 92px;
  }
  

  .header-title {
    /* margin-top: 100px; */
  }

  .header-line {
    justify-content: space-between;
  }

  /* для отображения кнопки "бургер" */
  .burger-menu {
    display: block;
  }

  /* скрыть навигационное меню */
  .phone,
  .nav {
    display: none;
  }

  /* для того, чтобы сделать выпадающее меню */

  .drop:hover .burger-slide {
    transition: all  0.3s linear;
    right: 0;
    display: block;
    /* для того, чтобы меню бургера выезжало вместе с навбаром, а не выпадало отдельно на страницу с контентом */
    position: absolute;
    /* background: rgba(20, 20, 20, 0.5); */
    line-height: 54px;
    /* размытие сзади */
    padding: 0px 12px;
    padding-top: 12px;
    font-size: 21px;
    text-align: right;
    /* background-color: #fff; */
  }


  .slide-item:hover {
    color: white;
  }

}

@media (max-width: 460px) {
  .burger-menu {
    width: 40px;
    margin-right: 20px;
  }
}



@media (max-width: 800px) {

  /* чтобы отключить увеличение картинки при наведении */
  .example-image>img:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale (1);
    border: 0px;
  }

  .example-image {
    cursor: none;
  }

}

@media (max-width: 1368px) {

  /* чтобы картинки шли друг за другом по вертикали */
  .header-content-img {
    display: block;

  }


}

@media (max-width: 1368px) {

  /* выровнять img по центру */
  .header-left-before,
  .header-right-after {
    display: flex;
    justify-content: center;
    margin-top: 20px;

  }

}

@media (max-width: 337px) {
  .container {
    margin-left: 10px;
  }
}



@media (max-width: 850px){
  .footer {
    display: block;
  }
}

@media (max-width: 357px) {
  .working-info-minisize {
    display: block;
  }
}